.App {
	text-align: center;
	overflow: hidden;
}

.Header {
	margin: 20px auto;
	height: 50px;
	display: flex;
}

.column {
	width: 50%;
}

.container {
	height: calc(100vh - 90px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
}
