.App {
	text-align: center;
	overflow: hidden;
}

.Header {
	margin: 20px auto;
	height: 50px;
	display: flex;
}

.column {
	width: 50%;
}

.container {
	height: calc(100vh - 90px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
}

.placeholderBold {
	font-weight: bold;
}

.placeholderBold:first-of-type {
	box-shadow: 0 5px 0 0px #b587ff;
}

.placeholderBold:nth-of-type(2) {
	box-shadow: 0 5px 0 0px #79c3f4;
}
